.content_main {
    padding: 5px 10px;
    min-height: 80%;
    width: 100%;
    background-color: #fff;
}

.content_empty {
    height: 80%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}