.menu_main {
    background-color: #4FFBDF;
    padding: 5px 10px;
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.menu_main_label {
    color: white;
    font-size: 15pt;
    padding: 0 10px;
}