@import url('https://fonts.googleapis.com/css?family=Aleo');
* {
    font-family: 'Aleo', serif;
}

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #b83450, #9f3a6e, #7a457d, #534c7c, #534c7c, #2f4858);
}

.app_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    width: 80%;
    height: 100%;
    transform: translate(-50%, 0%)
}