* {
    font-family: 'Aleo', serif;
}

html, body, #root {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #182952;
}

.app_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
}