.header_item {
    font-size: 26pt;
    font-weight: bold;
}

.header_item:hover {
    cursor: pointer;
    color: rgb(240, 240, 240);
}

.header_item:active {
    cursor: pointer;
    color: rgb(210, 210, 210);
}